* {
  margin: 0;
  padding: 0;
}

#wrapper {
  font-family: 'Fredericka the Great', cursive;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: url("https://img00.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg");
  background-size: cover;
}

.board {
  margin: 0 auto;
  /* background: pink; */
  height: 400px;
  width: 400px;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 33%;
  width: 33%;
  background: transparent;
  box-shadow: inset -1px 0px 0px 0px #EBE7E7,
                    0px 1px 0px 0px #EBE7E7,
                    -1px 0px 0px 0px #EBE7E7,
                    0px -1px 0px 0px #EBE7E7;
  text-align: center;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.square:hover {
  background: #18A0D6;
  transform: scale(1.05);
}


.modal {
  display: none;
  position: fixed;
  left: 50%;
  width: 260px;
  margin-left: -130px;
  text-align: center;
  background: rgba(6, 72, 170, 0.7);
  z-index: 100;
}

.modal h2, .modal button {
  margin: 20px;
  padding: 10px;
}

#choose-icon {
  font-size: 2rem;
  background: #999;
  position: absolute;
  left: 50%;
  width: 150px;
  margin-left: -95px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 99;
}

.choices {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.choices #X, .choices #O {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background: #333;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  transition: all .2s ease-in-out;
}
